@model Core.Dto.SignUpDto
<form id="signupform">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <span id="EmailErrors" class="text-danger"></span>
        <input type="email" class="form-control" name="email" id="email"  aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <span id="passwordErrors" class="text-danger"></span>
        <input type="password" class="form-control" name="password"  id="psw"  placeholder="Password">
    </div>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <span id="FirstNameErrors" class="text-danger"></span>
        <input type="text" class="form-control" name="FirstName" id="first"  placeholder="FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <span id="LastNameErrors" class="text-danger"></span>
        <input type="text" class="form-control" name="LastName" id="lastname"  placeholder="LastName">
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <span id="phoneNumberErros" class="text-danger"></span>
        <input type="text" class="form-control" name="phoneNumber" id="phone" placeholder="Phone Number">
    </div>
   
    

    <button type="submit" class="btn btn-primary"  id="signup">Submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#signupform").on("submit", function (e) {
            e.preventDefault();
            var form = document.getElementById("signupform");
            var formData = new FormData(form);
            console.log(formData);

            function validateForm() {
                let isValid = true;
                const email = $("#email").val();
                const password = $("#psw").val().trim();
                const firstName = $("#first").val();
                const lastName = $("#last").val();
                const PhoneNumber = $("#phone").val();

                $("#EmailErrors").text("");
                $("#passwordErrors").text("");
                $("#FirstNameErrors").text("");
                $("#LastNameErrors").text("");
                $("#phoneNumberErros").text("");

                if (email.length < 1) {
                    $("#EmailErrors").text("email address is required");
                    isValid = false;
                }

                const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/;
                if (!passwordPattern.test(password)) {
                    $("#passwordErrors").text("Password must be at least 8 characters long and include a number, a lowercase letter, an uppercase letter, and a special character.");
                    isValid = false;
                }

                if (firstName < 1) {
                    $("#FirstNameErrors").text("first name is required");
                    isValid = false;
                }
                if (firstName < 4 || firstName > 12) {
                    $("#FirstNameErrors").text("first name must be between 4 and 12 characters");
                    isValid = false;
                }
                if (lastName < 1) {
                    $("#LastNameErrors").text("last Name is required");
                    isValid = false;
                }
                if (firstName < 4 || firstName > 12) {
                    $("#LastNameErrors").text("last name must be between 4 and 12 characters");
                    isValid = false;
                }
                if (PhoneNumber < 1) {
                    $("#phoneNumberErros").text("phone number is required");
                    isValid = false;
                }



                return isValid;
            }
            if (validateForm()) {


                $.ajax({
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "@Url.Action("SignUpAdmin", "user")",
                    success: (data) => {
                        if (data.success) {

                            showPopup(data.message, "green");
                            setTimeout(() => {
                                window.location.href = "/"
                            }, 1500)

                        } else {
                            showPopup(data.message, "red");
                        }
                    },
                    error: () => {
                        
                    }
                });
            }
        });
    });
</script>