@model Core.Dto.SignUpDto
<form id="signupform" asp-action="SignUp" asp-controller="user">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" asp-for="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" asp-for="FirstName" placeholder="FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" asp-for="LastName" placeholder="LastName">
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" class="form-control" asp-for="phoneNumber" id="PhoneNumber" placeholder="Phone Number">
    </div>
    

    <button type="submit" class="btn btn-primary" asp-action="SignUp" asp-controller="user"  asp-asp-controller="user" id="signup">Submit</button>
</form>


@* @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#signupform").on("submit", (e)=> {
                e.preventDefault();
                const form = document.getElementById("signupform");
                var button = document.getElementById("signup");
                var formData = new FormData(form, button);
                var object = {};
                formData.forEach((value, key) => object[key] = value);
                var json = JSON.stringify(object);
                console.log(object);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SignUp", "user")/',
                    headers:"",
                    success: () => { window.location.href = '/' },
                    error: () => { }
                });
            })
        });
    </script>
} *@